.card{
  min-height: 18rem;
}
#productListButton
{
  position: absolute;
  bottom: 1rem !important;
}
.fontWeight
{
  font-weight: 700;
  color: red;
}
.stockRp{
  color: white;
}
.btn{
  padding: 1!important;
}
