<div class="row">
  <div class="col-12">
    <div class="text-right my-2 pr-1">
      <i
        (click)="toogleAddStock()"
        style="font-size: 2rem; cursor: pointer; color: #4bb543"
        class="fas fa-plus-circle mx-auto"
      ></i>
    </div>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Barre de recherhe</mat-panel-title>
          <mat-panel-description>
            {{ panelOpenState ? "" : "Cliquer ici..." }}
          </mat-panel-description>
        </mat-expansion-panel-header>

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 px-2 mt-2">
              <form class="example-form w-100">
                <mat-form-field
                  class="example-full-width w-100"
                  appearance="fill"
                >
                  <mat-label>Libelle Stock:</mat-label>
                  <input
                    matInput
                    type="search"
                    value=""
                    #p
                    (keyup)="serach(p.value, date1.value, date2.value)"
                    placeholder="search"
                  />
                </mat-form-field>
              </form>
            </div>

            <div class="col-md-6 px-2">
              <mat-label>Nombres des produits:</mat-label>
              <mat-slider
                class="w-100"
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1000"
                step="1"
                min="0"
                #slider
                max="20"
                (change)="
                  serach(p.value, date1.value, date2.value, slider.value)
                "
                aria-label="units"
              ></mat-slider>
            </div>
            <div class="col-md-6 px-2">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Date de début</mat-label>
                <input
                  matInput
                  type="date"
                  (change)="serach(p.value, date1.value, date2.value)"
                  #date1
                />
              </mat-form-field>
            </div>
            <div class="col-md-6 px-2">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Date de fin</mat-label>
                <input
                  matInput
                  type="date"
                  (change)="serach(p.value, date1.value, date2.value)"
                  #date2
                />
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="col-12 mt-3">
    <app-add-stock
      *ngIf="addstockStatus"
      (addStockStatus)="toogleStatus()"
      (addedStock)="addStockToList($event)"
    ></app-add-stock>
    <app-update-stock
      (updated)="getStockList($event)"
      (updateStockStatus)="CloseUpdate()"
      [selectedStock]="stockToUpdate"
      *ngIf="updateStockStatus"
    ></app-update-stock>
  </div>
  <div class="col-12">
    <div class="row g-1">
      <div class="col-12 mb-2">
        <mat-card>
          <div class="sortSection">
            <h5 class="fw-bold sortItem">
              Libelle :
              <i
                (click)="getStockLibelletAsc()"
                class="fas fa-sort-alpha-up-alt"
              ></i>
              <i
                (click)="getStockLibelleDesc()"
                class="fas fa-sort-alpha-down-alt"
              ></i>
            </h5>
            <h5 class="fw-bold sortItem">
              Date creation :
              <i (click)="getStockCreatedAtAsc()" class="fas fa-sort-up"></i>
              <i (click)="getStockCreatedAtDesc()" class="fas fa-sort-down"></i>
            </h5>
            <h5 class="fw-bold sortItem">
              Date modification :
              <i (click)="getStockUpdatedAtAsc()" class="fas fa-sort-up"></i>
              <i (click)="getStockUpdatedAtDesc()" class="fas fa-sort-down"></i>
            </h5>
            <h5 class="fw-bold sortItem">
              Nombre produits :<i
                (click)="getStockQtetAsc()"
                class="fas fa-sort-numeric-up-alt"
              ></i>
              <i
                (click)="getStockQteDesc()"
                class="fas fa-sort-numeric-down-alt"
              ></i>
            </h5>
          </div>
        </mat-card>
      </div>
      <div class="col-lg-12 col-xl">
        <div class="row">
          <div
            *ngFor="let item of my_Stock; let i = index"
            class="col-12 col-md-6 col-xl-4"
          >
            <div class="card">
              <div class="card-header">
                <div class="d-flex justify-content-between">
                  <h5 style="font-weight: bold; margin-top: 7px">
                    {{ item.libelleStock | uppercase }}
                  </h5>
                  <div>
                    <button
                      (click)="toogleUpdateStock(item)"
                      class="btn btn-primary mr-2"
                    >
                      <i
                        class="fas fa-pen-square"
                        style="font-size: 1.2rem; cursor: pointer; color: white"
                      ></i>
                    </button>

                    <button
                      data-bs-toggle="modal"
                      data-bs-target="#staticBackdrop"
                      (click)="getStockID(item.idStock)"
                      class="btn btn-danger"
                    >
                      <i
                        class="fas fa-trash-alt"
                        style="font-size: 1.2rem; cursor: pointer"
                      ></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body" style="background-color: #d9d9d9">
                <p *ngIf="item.qteMin >= item.qte" class="card-text">
                  votre stock en
                  <span class="fontWeight">rupture</span> la quantité minimale
                  est
                  <span class="fontWeight">{{ item.qteMin }}</span>
                  mais vous avez
                  <span class="fontWeight">{{ item.qte }}</span>
                  produits en stock.
                </p>
                <p *ngIf="item.qteMin < item.qte" class="card-text">
                  vous avez
                  <span class="fontWeight">{{ item.qte }}</span> produits en
                  stock et votre quantité minimale est
                  <span class="fontWeight">{{ item.qteMin }}</span>
                </p>
                <p
                  [style]="item.updatedAt == null ? 'margin-bottom:2.7rem' : ''"
                  class="card-text"
                >
                  <span class="fontWeight"> Date creation : </span>
                  {{ item.createdAt }}
                </p>
                <p *ngIf="item.updatedAt != null" class="card-text">
                  <span class="fontWeight"> Date modification : </span>
                  {{ item.updatedAt }}
                </p>
                <div
                  id="proListButton"
                  class="
                    d-flex
                    flex-wrap
                    justify-content-between
                    align-items-center
                  "
                >
                  <button
                    [disabled]="item.produitList.length == 0"
                    style="color: white"
                    class="btn btn-dark"
                    [routerLink]="['/back/stock/detailstock', item.idStock]"
                  >
                    Afficher les produits
                  </button>
                  <button
                    data-bs-toggle="modal"
                    data-bs-target="#staticBackdropAdd"
                    style="color: white"
                    class="btn btn-warning"
                    type="button"
                    (click)="getAllProduct(item.idStock)"
                  >
                    Ajouter des produits
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Gestion Stock</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Etes vous sur de vouloir supprimer ce stock?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuuler
        </button>
        <button
          type="button"
          (click)="delete()"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdropAdd"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">
          Liste des produits disponible
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div style="height: 200px" class="table-responsive">
          <table class="table table-success table-striped align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Libelle</th>
                <th scope="col">Code</th>
                <th scope="col">Prix</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of productList; let i = index">
                <th scope="row">{{ item.idProduit }}</th>
                <td>{{ item.libelle }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.prixUnitaire }}</td>
                <td>{{ item.detailProduit.categorieProduit }}</td>
                <td>
                  <i
                    (click)="getProductid(item.idProduit)"
                    class="fas fa-plus-circle"
                    style="font-size: 1rem"
                  ></i>
                  <i
                    (click)="retriveProduit(item.idProduit)"
                    class="ml-1 fas fa-minus-circle"
                    style="font-size: 1rem"
                  ></i>
                </td>
              </tr>
            </tbody>
          </table>
          <span *ngIf="productList.length != 0">
            Nombre des produits a ajouté :
            <strong>{{ productIdList.length }}</strong>
          </span>
          <span *ngIf="productList.length == 0">
            Il n'ya pas des produits disponible
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Annuler
        </button>
        <button
          type="button"
          [disabled]="productIdList.length == 0"
          (click)="assignProductListToStock()"
          class="btn btn-primary"
          data-bs-dismiss="modal"
        >
          Ajouter
        </button>
      </div>
    </div>
  </div>
</div>
