<div class="row">
  <div class="col-12">
    <div class="text-right my-2 pr-1">
      <i
        (click)="toogleAddStock()"
        style="font-size: 2rem; cursor: pointer; color: #4bb543"
        class="fas fa-plus-circle mx-auto"
      ></i>
    </div>
    <mat-accordion>
      <mat-expansion-panel
        (opened)="panelOpenState = true"
        (closed)="panelOpenState = false"
      >
        <mat-expansion-panel-header>
          <mat-panel-title> Barre de recherhe</mat-panel-title>
          <mat-panel-description>
           Barre de recherche {{ panelOpenState ? "ouverte" : "fermé" }}
          </mat-panel-description>
        </mat-expansion-panel-header>

          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6 px-2 mt-2">
                <form class="example-form w-100">
                  <mat-form-field
                    class="example-full-width w-100"
                    appearance="fill"
                  >
                    <mat-label>Libelle Stock:</mat-label>
                    <input
                      matInput
                      type="search"
                      value=""
                      #p
                      (keyup)="
                        serach(p.value, date1.value, date2.value)
                      "
                      placeholder="search"
                    />
                  </mat-form-field>
                </form>
              </div>

              <div class="col-md-6 px-2">
                <mat-label>Nombres des produits:</mat-label>
                <mat-slider
                  class="w-100"
                  thumbLabel
                  [displayWith]="formatLabel"
                  tickInterval="1000"
                  step="1"
                  min="0"
                  #slider
                  max="20"
                  (change)="serach(p.value, date1.value, date2.value, slider.value)"
                  aria-label="units"
                ></mat-slider>
              </div>
              <div class="col-md-6 px-2">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Date de début</mat-label>
                  <input
                    matInput
                    type="date"
                    (change)="
                      serach(p.value, date1.value, date2.value)
                    "
                    #date1
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6 px-2">
                <mat-form-field class="w-100" appearance="fill">
                  <mat-label>Date de fin</mat-label>
                  <input
                    matInput
                    type="date"
                    (change)="
                      serach(p.value, date1.value, date2.value)
                    "
                    #date2
                  />
                </mat-form-field>
              </div>
            </div>
          </div>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
  <div class="col-12 mt-3">
    <app-add-stock
      *ngIf="addstockStatus"
      (addStockStatus)="toogleStatus()"
      (addedStock)="addStockToList($event)"
    ></app-add-stock>
    <app-update-stock
      (updated)="getStockList($event)"
      (updateStockStatus)="CloseUpdate()"
      [selectedStock]="stockToUpdate"
      *ngIf="updateStockStatus"
    ></app-update-stock>
  </div>
  <div *ngFor="let item of my_Stock; let i = index" class="col-12 col-md-6">
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h5 style="font-weight: bold; margin-top: 7px">
            {{ item.libelleStock | uppercase }}
          </h5>
          <div>
            <button
              (click)="toogleUpdateStock(item)"
              class="btn btn-primary mr-2"
            >
              <i
                class="fas fa-pen-square"
                style="font-size: 1.2rem; cursor: pointer; color: white"
              ></i>
            </button>

            <button
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              (click)="getStockID(item.idStock)"
              class="btn btn-danger"
            >
              <i
                class="fas fa-trash-alt"
                style="font-size: 1.2rem; cursor: pointer"
              ></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body" style="background-color: #d9d9d9">
        <p *ngIf="item.qteMin >= item.qte" class="card-text">
          votre stock en
          <span class="fontWeight">rupture</span> la quantité minimale est
          <span class="fontWeight">{{ item.qteMin }}</span>
          mais vous avez
          <span class="fontWeight">{{ item.qte }}</span>
          produit en stock.
        </p>
        <p *ngIf="item.qteMin < item.qte" class="card-text">
          vous avez <span class="fontWeight">{{ item.qte }}</span> produit en
          stock et votre quantité minimale est
          <span class="fontWeight">{{ item.qteMin }}</span>
        </p>
        <p class="card-text">
          <span class="fontWeight"> Date creation : </span> {{ item.createdAt }}
        </p>
        <p *ngIf="item.updatedAt != null" class="card-text">
          <span class="fontWeight"> Date modification : </span>
          {{ item.updatedAt }}
        </p>
        <button
          [disabled]="item.produitList.length == 0"
          style="color: white"
          id="productListButton"
          class="btn btn-success"
          [routerLink]="['/back/stock/detailstock', item.idStock]"
        >
          Afficher les produit
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Gestion Stock</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Etes vous sur de vouloir supprimer ce stock?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuuler
        </button>
        <button
          type="button"
          (click)="delete()"
          class="btn btn-danger"
          data-bs-dismiss="modal"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
