<div class="row">
  <div class="col-12">
    <div class="text-right my-2 pr-1">
      <i
        (click)="toogleAddRayon()"
        style="font-size: 2rem; cursor: pointer; color: #4bb543"
        class="fas fa-plus-circle mx-auto"
      ></i>
    </div>
  </div>
  <div class="col-12">
    <app-add-rayon
      (addRayonStatus)="toogleAddRayon()"
      (rayonAdded)="addRayonToList($event)"
      *ngIf="addRayonStatus"
    ></app-add-rayon>
    <app-update-rayon
      (updated)="getRayonList($event)"
      (updateRayonStatus)="CloseUpdate()"
      [selectedRayon]="rayonToUpdate"
      *ngIf="updateRayonStatus"
    ></app-update-rayon>
  </div>
  <div
    *ngFor="let item of rayon_list; let i = index"
    class="col-12 col-md-6"
  >
    <!-- [style.backgroundColor]="item.produitList.length >= 0 ? 'black' : '#dc3545'" -->
    <div class="card">
      <div class="card-header">
        <div class="d-flex justify-content-between">
          <h5 style="font-weight: bold; margin-top: 7px">{{ item.libelle | uppercase }}</h5>
          <div>
            <button
              (click)="toogleUpdateRayon(item)"
              class="btn btn-primary mr-2"
            >
              <i
                class="fas fa-pen-square"
                s
                style="font-size: 1.2rem; cursor: pointer; color: white"
              ></i>
            </button>

            <button
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
              (click)="getRayonById(item.idRayon)"
              class="btn btn-danger"
            >
              <i
                class="fas fa-trash-alt"
                style="font-size: 1.2rem; cursor: pointer"
              ></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body" style="background-color: #d9d9d9">
        <p class="card-text">Code : {{ item.code }}</p>
        <p *ngIf="item.produitList.length == 0" class="card-text">
          Votre rayon est <span class="fontWeight">vide</span> ,il contient
          <span class="fontWeight">{{ item.produitList.length }}</span> produits.
        </p>
        <p *ngIf="item.produitList.length != 0" class="card-text">
          Votre rayon contient
          <span class="fontWeight">{{ item.produitList.length }}</span> produits.
        </p>
        <p class="card-text">
          <span class="fontWeight"> Date creation : </span> {{ item.createdAt }}
        </p>
        <p *ngIf="item.updatedAt != null" class="card-text">
          <span class="fontWeight"> Date modification : </span>
          {{ item.updatedAt }}
        </p>

        <button
          [disabled]="item.produitList.length == 0"
          style="color: white"
          id="productListButton"
          class="btn btn-dark"
          [routerLink]="['/back/rayon/detailrayon', item.idRayon]"
        >
          Afficher les produit
        </button>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Gestion Rayon</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">Etes vous sur de vouloir supprimer ce Rayon?</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Anuuler
        </button>
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          (click)="delete()"
        >
          Confirmer
        </button>
      </div>
    </div>
  </div>
</div>
